name: Automated API Tests

on: push

jobs:
  test_api:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install Newman
      run: |
        npm install -g newman
        npm install -g newman-reporter-htmlextra

    - name: Run API Tests
      run: |
        # Lệnh chạy test newman (đã chỉnh đúng đường dẫn postman/...)
        newman run "Postman/Demo Flow - 7 APIs.json" -e "postman/SMS_Environment.postman_environment.json" -r cli,htmlextra --reporter-htmlextra-export report.html

    - name: Upload Report
      uses: actions/upload-artifact@v4
      if: always() # Luôn chạy bước này dù test có fail
      with:
        name: newman-report
        path: report.html